Client/Service References/EvalService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://test/evals" />
  <xs:element name="SubmitEval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://test/evals" minOccurs="0" name="eval" nillable="true" type="q1:Eval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitEvalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://test/evals" minOccurs="0" name="GetEvalsResult" nillable="true" type="q2:ArrayOfEval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalsBySubmitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submitter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalsBySubmitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://test/evals" minOccurs="0" name="GetEvalsBySubmitterResult" nillable="true" type="q3:ArrayOfEval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEvalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>